body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  margin: 5px;
  padding: 5px;
  background-color: #e9e64fe0;
}

.container {
  max-width: 350px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(138, 96, 19, 0.75);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2.0rem;
}

.balance-box {
  border: 1px solid #eeeceb;
  background-color: #00000056;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 40%;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bal-container {
  display: flex;
  justify-content: space-between;
}

form {
  display: grid;
  grid-gap: 10px;
  color: white;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"],
button[type="button"] {
  width: calc(100% - 3px);
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

input[type="submit"],
button[type="button"] {
  background: linear-gradient(to bottom, #d16c44, #c91a1a);
}

input[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #dd551f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.link-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  
}


.todaysread  {
  color: #ffffff;
  text-align: center;

}

.Budget_Planner {
  color: #ffffff;
  text-align: center;

}
.todaysread:hover {
  text-decoration: underline;
}

.past-expenses-btn {
  display: block;
  width: calc(100% - 3px);
  padding: 10px;
  color: #af7a28;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.past-expenses-btn:hover {
  background-color: #dfd9d9;
}


.button-wrapper {
  position: relative;
  width: 100%;
}


#toggleButton {
  position: absolute;
  border: none;
  top: -19px;
  right: -19px;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  padding: 5px 10px;
}

#toggleButton.locked {
  background-color: rgba(255, 0, 0, 0.822);
  padding: 1px;
  /* Example styling for locked state */
  color: white;
}

#toggleButton.unlocked {
  background-color: rgba(0, 128, 0, 0.801);
  padding: 1px;
  /* Example styling for unlocked state */
  color: white;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}